@model ProjektZaliczeniowyASP.NET.Models.ZapisNaKursModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj zapisy</h1>

    <partial name="~/Views/Shared/_Partials/_ZapisNaKursForm.cshtml" model="Model" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}