@model ProjektZaliczeniowyASP.NET.Models.KursModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj kurs</h1>
    <partial name="~/Views/Shared/_Partials/_KursForm.cshtml" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
