@model ProjektZaliczeniowyASP.NET.Models.StudentModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj studenta</h1>
        <partial name="~/Views/Shared/_Partials/_StudentForm.cshtml" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
