@model ProjektZaliczeniowyASP.NET.Models.StudentModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudentModel</h4>
        <partial name="~/Views/Shared/_Partials/_StudentForm.cshtml" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
